@model Safari.Entities.Pregunta

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Admin/Content/css/sb-admin-2.css" rel="stylesheet" />

<div>
    <h4>Detalles de la Pregunta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Pregunta
        </dt>

        <dd style="max-width:600px">
            @Html.DisplayFor(model => model.LaPregunta)
        </dd>

        <dt>
            Ubicacion Imagen
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagen)
        </dd>
        <dt>
            Sector
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria.LaCategoria)
        </dd>
        <dt>
            Nivel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nivel.ElNivel)
        </dd>
        <dt>
            Tipo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoPregunta.TipoDePregunta)
        </dd>


    </dl>
    <div>
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.Id })

        </p>
    </div>
    <input type="button" class="AzulButton " style="float:right" value="Volver" onclick="location.href='@Url.Action("Index", "Pregunta")'" />
</div>
