@model IEnumerable<Safari.Entities.Pregunta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Admin/Content/css/sb-admin-2.css" rel="stylesheet" />


<div>
    <script type="text/javascript">

        $(document).ready(function () {

            var height = $(window).height();

            $('#div2').height(height);
        });

    </script>
    <div>
        @using (Html.BeginForm())
        {
        <div class="form-group">
            <div class="col-md-12" style="max-width:350px">

                <h4>Categoria de la Pregunta</h4>



            </div>
            <div class="col-md-12" style="max-width:300px">
                @Html.DropDownList("Categoria", (SelectList)ViewBag.categoriaLista, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-10">
                <input type="submit" value="Buscar" class="AzulButton" />
                <input type="button" class="AzulButton " style="float:right" value="Ver todo" onclick="location.href='@Url.Action("Index", "Pregunta")'" />
            </div>


            }
        </div>
    <br />

    <div>
        <table class="table-bordered col-md-12 table-striped ">
            <tr>
                <th>

                    <h4 style="text-align:center">Pregunta</h4>
                </th>
                <th>
                    <h4  style="text-align:center">Categoria</h4>
                </th>

                <th>
                    <h4  style="text-align:center">Imagen</h4>
                </th>
                <th>
                    <h4  style="text-align:center">Nivel</h4>
                </th>
                <th>
                    <h4  style="text-align:center">Tipo</h4>
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td style="max-width:700px">
                        <br />
                        @Html.DisplayFor(modelItem => item.LaPregunta)
                        <br />
                    </td>
                    <td>
                        <br />
                        @Html.DisplayFor(modelItem => item.categoria.LaCategoria)
                        <br />
                    </td>
                    <td style="max-width:400px">
                        <br />
                        @Html.DisplayFor(modelItem => item.Imagen)
                    <br />
                    </td>
                    <td style="max-width:200px">
                        @Html.DisplayFor(modelItem => item.nivel.ElNivel)
                    </td>
                    <td style="max-width:300px">
                        @Html.DisplayFor(modelItem => item.tipoPregunta.TipoDePregunta)
                    </td>

                    <td style="max-width:400px">
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                        @Html.ActionLink("Detalles", "Details", new { id = item.Id })
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class=" col-md-12">

        <p>
            <input type="button" class="AzulButton " style="float:left" value="Crear" onclick="location.href='@Url.Action("Create", "Pregunta")'" />
        </p>
    </div>
</div>
