@model IEnumerable<Safari.Entities.Orden>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Admin/Content/css/sb-admin-2.css" rel="stylesheet" />

<div>
    <div>
        <form>
            <p>
                Pelicula: <input type="text" asp-for="SearchString" />
                <input type="submit" value="Filtrar" class="AzulButton" />
            </p>
        </form>
    </div>
    <div>

        <table class="table">
            <tr>
                <th>
                    <h4>Pregunta</h4>
                </th>
                <th>

                    <h4> Respuesta</h4>

                </th>

                <th>

                    <h4>Orden</h4>

                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.pregunta.LaPregunta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LaRespuesta)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.NumeroOrden)

                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
    <div>
        <p>
            <input type="button" class="AzulButton " style="float:right" value="Crear" onclick="location.href='@Url.Action("Create", "Pregunta")'" />
        </p>


    </div>
</div>
